extends ../layout

block content
    h2 Consulta
    div.border.w-100.p-4.bg-secondary.rounded-1
        form(action="./cargar" method="POST")
        div#evolucion
            label.form-label Evolución
            textarea.form-control.form-control-lg
        hr
        div#diagnosticos
            label.form-label Diagnosticos
            textarea.form-control
            each estado in estados_de_diagonosticos
                label #{estado.descripcion}
                input(type="checkbox" value=estado.id_estado)
        hr
        div#alergias.d-flex
            div
                label.form-label Alergias
                select#alergia.form-select.w-auto
                    option(value="" disabled selected) Seleccione una Alergia
                    each alergia in alergias
                        option(value=alergia.id_alergia) #{alergia.nomenclatura}
                div.d-flex
                    div.d-flex.flex-column.align-items-center
                        label.form-label inicio
                        input#alergia-inicio.form-control.w-auto(type="date")
                    div.d-flex.flex-column.align-items-center
                        label.form-label fin
                        input#alergia-fin.form-control.w-auto(type="date")
                    button#agregar_alergia.btn.btn-success.m-3(type="button") agregar
            div#alergias-seleccionadas.border.m-1.mx-3.px-2.w-50
                p alergias seleccionadas
        hr
        div#antecedentes
            div#antecedentes-container
                label.form-label Antecedentes
                //textarea.form-control.w-50.mb-3
            button#nuevo_antecedente.btn.btn-primary(type="button") +
        hr
        div#habitos
            div#habitos-container
                label.form-label Habitos
            button#nuevo_habito.btn.btn-primary(type="button") +
        hr
        div#medicamentos
            div#medicamentos-container
                label.form-label Medicamentos
            button#nuevo_medicamento.btn.btn-primary(type="button") +
        button(onclick="finalizarConsulta()") finalizar
    script(src="../../javascripts/script.js")
